openapi: 3.1.0
info:
  title: Kadence Public Bookable Day Space API
  description: 'Kadence is the all-in-one software platform that helps your team thrive at hybrid work. With our public API you''ll have the capability to seamlessly integrate your own applications with the Kadence, boosting employee productivity, enabling in-person collaboration, and maximizing your workspace to do more with less. To get started, check out our developer [getting started guide](https://help.kadence.co/kb/guide/en/api-getting-started-developer-guide-yUYh7DBxBW/). You can also check out our sample applications on [GitHub](https://github.com/wearekadence/kadence-public-api-examples).


    ## Regional Environments


    Kadence supports dedicated environments for different geographical regions. When setting up your API integration, make sure you''re using the correct base URLs for your region.


    **EU region: (default)**


    - Auth: [https://login.onkadence.co](https://login.onkadence.co)

    - API: [https://api.onkadence.co](https://api.onkadence.co)


    **US region:**


    - Auth: [https://login.us.onkadence.co](https://login.us.onkadence.co)

    - API: [https://api.us.onkadence.co](https://api.us.onkadence.co)


    Your region is determined by where your Kadence account was set up. If you''re unsure which region you''re on, contact your account administrator or reach out to Kadence support.


    Use the correct auth URL when obtaining your access token, and the correct endpoint for all subsequent requests. Mixing URLs across regions will result in authentication errors.'
  version: 1.2.0
  x-logo:
    url: https://static.onkadence.co/assets/images/email-header-logo@3x.png
    backgroundColor: '#FAFAFA'
    altText: Kadence logo
servers:
- url: https://api.onkadence.co
  description: Production
- url: https://api.us.onkadence.co
  description: Production (US)
security:
- oauth: []
tags:
- name: Space
paths:
  /v1/public/spaces:
    get:
      operationId: api_v1publicspaces_get_collection
      tags:
      - Space
      responses:
        '200':
          description: Space collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Space.jsonld-public_space'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Space-public_space'
      summary: Get spaces
      description: Get a list of all the spaces within your company from all the floors.
      parameters:
      - name: page
        in: query
        description: The page of spaces to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of spaces to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      - name: neighborhoodId
        in: query
        description: Filter by neighborhood identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01AZMC4F598J6RRG449TRTRK20
      - name: floorId
        in: query
        description: Filter by floor identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: buildingId
        in: query
        description: Filter by building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01H4E18A4C7K1GD4BEM9NCNJAW
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/spaces/{id}:
    get:
      operationId: api_v1publicspaces_id_get
      tags:
      - Space
      responses:
        '200':
          description: Space resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Space.jsonld-public_space'
            text/csv:
              schema:
                $ref: '#/components/schemas/Space-public_space'
        '404':
          description: Resource not found
      summary: Get a single space by identifier
      description: Get a space if you know it's identifier.
      parameters:
      - name: id
        in: path
        description: Space identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
components:
  schemas:
    Uuid-public_space:
      type: object
      description: ''
      deprecated: false
    Neighborhood-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        id:
          readOnly: true
          externalDocs:
            url: https://schema.org/identifier
          description: The ULID of the neighborhood.
          example: 01GTBV1CT3BM8A42SEJ2J5F4EG
          $ref: '#/components/schemas/Ulid-public_space'
        name:
          readOnly: true
          type: string
          description: The name of the neighborhood.
          example: Sales
    Ulid-public_space:
      type: object
      description: ''
      deprecated: false
    Ulid.jsonld-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        '@context':
          readOnly: true
          oneOf:
          - type: string
          - type: object
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
            additionalProperties: true
        '@id':
          readOnly: true
          type: string
        '@type':
          readOnly: true
          type: string
    Neighborhood.jsonld-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        '@context':
          readOnly: true
          oneOf:
          - type: string
          - type: object
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
            additionalProperties: true
        '@id':
          readOnly: true
          type: string
        '@type':
          readOnly: true
          type: string
        id:
          readOnly: true
          externalDocs:
            url: https://schema.org/identifier
          description: The ULID of the neighborhood.
          example: 01GTBV1CT3BM8A42SEJ2J5F4EG
          $ref: '#/components/schemas/Ulid.jsonld-public_space'
        name:
          readOnly: true
          type: string
          description: The name of the neighborhood.
          example: Sales
    Uuid.jsonld-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        '@context':
          readOnly: true
          oneOf:
          - type: string
          - type: object
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
            additionalProperties: true
        '@id':
          readOnly: true
          type: string
        '@type':
          readOnly: true
          type: string
    Floor-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        id:
          readOnly: true
          externalDocs:
            url: https://schema.org/identifier
          description: The ULID of the floor.
          example: 01GTBV1CT3BM8A42SEJ2J5F4EG
          $ref: '#/components/schemas/Ulid-public_space'
        name:
          readOnly: true
          type: string
          description: The name of the floor.
          example: Floor 01
    Space.jsonld-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        '@id':
          readOnly: true
          type: string
          example: /v1/public/spaces/01GTBV1CT3BM8A42SEJ2J5F4EG
        '@type':
          readOnly: true
          type: string
          example: Space
        id:
          readOnly: true
          externalDocs:
            url: https://schema.org/identifier
          description: The ULID of the space.
          example: 01GTBV1CT3BM8A42SEJ2J5F4EG
          $ref: '#/components/schemas/Ulid.jsonld-public_space'
        name:
          readOnly: true
          type: string
          description: The name of the space.
          example: Desk 01
        type:
          readOnly: true
          type: string
          example: desk
          description: The type of space.
        floor:
          readOnly: true
          anyOf:
          - $ref: '#/components/schemas/Floor.jsonld-public_space'
          - type: 'null'
        neighborhood:
          readOnly: true
          anyOf:
          - $ref: '#/components/schemas/Neighborhood.jsonld-public_space'
          - type: 'null'
        photo:
          readOnly: true
          description: The UUID of the photo of the space.
          example: b74b830a-cf26-47bd-9dbc-237571c79fc3
          anyOf:
          - $ref: '#/components/schemas/Uuid.jsonld-public_space'
          - type: 'null'
    Space-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        id:
          readOnly: true
          externalDocs:
            url: https://schema.org/identifier
          description: The ULID of the space.
          example: 01GTBV1CT3BM8A42SEJ2J5F4EG
          $ref: '#/components/schemas/Ulid-public_space'
        name:
          readOnly: true
          type: string
          description: The name of the space.
          example: Desk 01
        type:
          readOnly: true
          type: string
          example: desk
          description: The type of space.
        floor:
          readOnly: true
          anyOf:
          - $ref: '#/components/schemas/Floor-public_space'
          - type: 'null'
        neighborhood:
          readOnly: true
          anyOf:
          - $ref: '#/components/schemas/Neighborhood-public_space'
          - type: 'null'
        photo:
          readOnly: true
          description: The UUID of the photo of the space.
          example: b74b830a-cf26-47bd-9dbc-237571c79fc3
          anyOf:
          - $ref: '#/components/schemas/Uuid-public_space'
          - type: 'null'
    Floor.jsonld-public_space:
      type: object
      description: ''
      deprecated: false
      properties:
        '@context':
          readOnly: true
          oneOf:
          - type: string
          - type: object
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
            additionalProperties: true
        '@id':
          readOnly: true
          type: string
        '@type':
          readOnly: true
          type: string
        id:
          readOnly: true
          externalDocs:
            url: https://schema.org/identifier
          description: The ULID of the floor.
          example: 01GTBV1CT3BM8A42SEJ2J5F4EG
          $ref: '#/components/schemas/Ulid.jsonld-public_space'
        name:
          readOnly: true
          type: string
          description: The name of the floor.
          example: Floor 01
  securitySchemes:
    oauth:
      type: oauth2
      description: OAuth 2.0 client credentials Grant
      flows:
        clientCredentials:
          tokenUrl: https://login.onkadence.co/oauth2/token
          scopes:
            public: Public API access
