openapi: 3.1.0
info:
  title: Kadence Public Bookable Day Bookable Onsite Pass API
  description: 'Kadence is the all-in-one software platform that helps your team thrive at hybrid work. With our public API you''ll have the capability to seamlessly integrate your own applications with the Kadence, boosting employee productivity, enabling in-person collaboration, and maximizing your workspace to do more with less. To get started, check out our developer [getting started guide](https://help.kadence.co/kb/guide/en/api-getting-started-developer-guide-yUYh7DBxBW/). You can also check out our sample applications on [GitHub](https://github.com/wearekadence/kadence-public-api-examples).


    ## Regional Environments


    Kadence supports dedicated environments for different geographical regions. When setting up your API integration, make sure you''re using the correct base URLs for your region.


    **EU region: (default)**


    - Auth: [https://login.onkadence.co](https://login.onkadence.co)

    - API: [https://api.onkadence.co](https://api.onkadence.co)


    **US region:**


    - Auth: [https://login.us.onkadence.co](https://login.us.onkadence.co)

    - API: [https://api.us.onkadence.co](https://api.us.onkadence.co)


    Your region is determined by where your Kadence account was set up. If you''re unsure which region you''re on, contact your account administrator or reach out to Kadence support.


    Use the correct auth URL when obtaining your access token, and the correct endpoint for all subsequent requests. Mixing URLs across regions will result in authentication errors.'
  version: 1.2.0
  x-logo:
    url: https://static.onkadence.co/assets/images/email-header-logo@3x.png
    backgroundColor: '#FAFAFA'
    altText: Kadence logo
servers:
- url: https://api.onkadence.co
  description: Production
- url: https://api.us.onkadence.co
  description: Production (US)
security:
- oauth: []
tags:
- name: Bookable Onsite Pass
paths:
  /v1/public/bookable-onsite-passes:
    get:
      operationId: api_v1publicbookable-onsite-passes_get
      tags:
      - Bookable Onsite Pass
      responses:
        '200':
          description: Bookable Onsite Pass resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Bookable.Onsite.Pass.jsonld-public_bookable_onsite_pass'
            text/csv:
              schema:
                $ref: '#/components/schemas/Bookable.Onsite.Pass-public_bookable_onsite_pass'
        '404':
          description: Resource not found
      summary: Get a description of onsite availability for a building in a time period
      description: ''
      parameters:
      - name: buildingId
        in: query
        description: The building identifier to get onsite pass information for
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: startDateTime
        in: query
        description: Proposed UTC booking start date time in format YYYY-MM-DDThh:mm:ss
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-07-03T09:00:00'
      - name: endDateTime
        in: query
        description: Proposed UTC booking end date time in format YYYY-MM-DDThh:mm:ss
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-07-03T09:00:00'
      deprecated: false
components:
  schemas:
    Bookable.Onsite.Pass-public_bookable_onsite_pass:
      type: object
      description: ''
      deprecated: false
      properties:
        numPassesAvailable:
          type:
          - integer
          - 'null'
          description: "The number of passes available. If the building does not limit onsite availability, this will be null, unless\n            there is no availability for some other reason, in which case it will be 0."
          example: 25
        available:
          type: boolean
          description: Are there any available passes?
          example: true
        startDateTime:
          type: string
          format: date-time
          description: The date and time for the start of the pass.
          example: '2017-07-21T09:30:00+00:00'
        endDateTime:
          type: string
          format: date-time
          description: The date and time for the end of the pass.
          example: '2017-07-21T17:00:00+00:00'
        unavailabilityReason:
          type: string
          enum:
          - buildingClosure
          - openingHours
          - buildingClosed
          - noCapacity
          - unknown
          - null
          description: Why are no passes available. This will be null if there is availability
          example: buildingClosure
    Bookable.Onsite.Pass.jsonld-public_bookable_onsite_pass:
      type: object
      description: ''
      deprecated: false
      properties:
        '@context':
          readOnly: true
          oneOf:
          - type: string
          - type: object
            properties:
              '@vocab':
                type: string
              hydra:
                type: string
                enum:
                - http://www.w3.org/ns/hydra/core#
            required:
            - '@vocab'
            - hydra
            additionalProperties: true
        '@id':
          readOnly: true
          type: string
        '@type':
          readOnly: true
          type: string
        numPassesAvailable:
          type:
          - integer
          - 'null'
          description: "The number of passes available. If the building does not limit onsite availability, this will be null, unless\n            there is no availability for some other reason, in which case it will be 0."
          example: 25
        available:
          type: boolean
          description: Are there any available passes?
          example: true
        startDateTime:
          type: string
          format: date-time
          description: The date and time for the start of the pass.
          example: '2017-07-21T09:30:00+00:00'
        endDateTime:
          type: string
          format: date-time
          description: The date and time for the end of the pass.
          example: '2017-07-21T17:00:00+00:00'
        unavailabilityReason:
          type: string
          enum:
          - buildingClosure
          - openingHours
          - buildingClosed
          - noCapacity
          - unknown
          - null
          description: Why are no passes available. This will be null if there is availability
          example: buildingClosure
  securitySchemes:
    oauth:
      type: oauth2
      description: OAuth 2.0 client credentials Grant
      flows:
        clientCredentials:
          tokenUrl: https://login.onkadence.co/oauth2/token
          scopes:
            public: Public API access
