openapi: 3.1.0
info:
  title: Kadence Public API
  description: |-
    Kadence is the all-in-one software platform that helps your team thrive at hybrid work. With our public API you'll have the capability to seamlessly integrate your own applications with the Kadence, boosting employee productivity, enabling in-person collaboration, and maximizing your workspace to do more with less. To get started, check out our developer [getting started guide](https://help.kadence.co/kb/guide/en/api-getting-started-developer-guide-yUYh7DBxBW/). You can also check out our sample applications on [GitHub](https://github.com/wearekadence/kadence-public-api-examples).

    ## Regional Environments

    Kadence supports dedicated environments for different geographical regions. When setting up your API integration, make sure you're using the correct base URLs for your region.

    **EU region: (default)**

    - Auth: [https://login.onkadence.co](https://login.onkadence.co)
    - API: [https://api.onkadence.co](https://api.onkadence.co)

    **US region:**

    - Auth: [https://login.us.onkadence.co](https://login.us.onkadence.co)
    - API: [https://api.us.onkadence.co](https://api.us.onkadence.co)

    Your region is determined by where your Kadence account was set up. If you're unsure which region you're on, contact your account administrator or reach out to Kadence support.

    Use the correct auth URL when obtaining your access token, and the correct endpoint for all subsequent requests. Mixing URLs across regions will result in authentication errors.
  version: 1.2.0
  x-logo:
    url: https://static.onkadence.co/assets/images/email-header-logo@3x.png
    backgroundColor: '#FAFAFA'
    altText: Kadence logo
servers:
- url: https://api.onkadence.co
  description: Production
- url: https://api.us.onkadence.co
  description: Production (US)
paths:
  /v1/public/bookable-days:
    get:
      operationId: api_v1publicbookable-days_get_collection
      tags:
      - Bookable Day
      responses:
        '200':
          description: Bookable Day collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bookable.Day.jsonld-public_bookable_day'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bookable.Day-public_bookable_day'
      summary: Get a collection of Bookable Days
      description: Get a list of all days that a booking can be made for specific user in a specific building.
      parameters:
      - name: buildingId
        in: query
        description: The building identifier to get a collection of bookable days for.
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: userId
        in: query
        description: The user identifier to get a collection of bookable days for.
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CADV1CT3BM8A52SEJ2J5F4EB
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/bookable-days/{id}:
    get:
      operationId: api_v1publicbookable-days_id_get
      tags:
      - Bookable Day
      responses:
        '204':
          description: Bookable Day resource
          content:
            application/ld+json:
              schema: null
            text/csv:
              schema: null
        '404':
          description: Resource not found
      summary: Retrieves a Bookable Day resource.
      description: Retrieves a Bookable Day resource.
      parameters:
      - name: id
        in: path
        description: Bookable Day identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
      deprecated: false
  /v1/public/bookable-onsite-passes:
    get:
      operationId: api_v1publicbookable-onsite-passes_get
      tags:
      - Bookable Onsite Pass
      responses:
        '200':
          description: Bookable Onsite Pass resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Bookable.Onsite.Pass.jsonld-public_bookable_onsite_pass'
            text/csv:
              schema:
                $ref: '#/components/schemas/Bookable.Onsite.Pass-public_bookable_onsite_pass'
        '404':
          description: Resource not found
      summary: Get a description of onsite availability for a building in a time period
      description: ''
      parameters:
      - name: buildingId
        in: query
        description: The building identifier to get onsite pass information for
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: startDateTime
        in: query
        description: Proposed UTC booking start date time in format YYYY-MM-DDThh:mm:ss
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-07-03T09:00:00'
      - name: endDateTime
        in: query
        description: Proposed UTC booking end date time in format YYYY-MM-DDThh:mm:ss
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-07-03T09:00:00'
      deprecated: false
  /v1/public/bookable-spaces:
    get:
      operationId: api_v1publicbookable-spaces_get_collection
      tags:
      - Bookable Space
      responses:
        '200':
          description: Bookable Space collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bookable.Space.jsonld-public_bookable_space.list'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bookable.Space-public_bookable_space.list'
      summary: Get Bookable Spaces
      description: Get a list of all the spaces on a specific floor, which may be booked for a specific user during a specific time period.
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      - name: floorId
        in: query
        description: Floor identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: userId
        in: query
        description: User identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: startDateTime
        in: query
        description: UTC Booking start date time in format YYYY-MM-DDThh:mm:ss
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-07-03T09:00:00'
      - name: endDateTime
        in: query
        description: UTC Booking start date time in format YYYY-MM-DDThh:mm:ss
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-07-03T17:00:00'
      - name: spaceType
        in: query
        description: The type of resource that you require. Defaults to desk
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - desk
          - private_office
          - room
          - onsite
          - locker
          - pod
          - parking
        style: form
        explode: false
        allowReserved: false
        example: desk
      deprecated: false
  /v1/public/bookings:
    get:
      operationId: api_v1publicbookings_get_collection
      tags:
      - Booking
      responses:
        '200':
          description: Booking collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking.jsonld-public_booking'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking-public_booking'
      summary: Get a collection of bookings
      description: Get a collection of bookings for your tenant
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      - name: id
        in: query
        description: Booking identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: startDate
        in: query
        description: Booking start date in format YYYY-MM-DD (deprecated for startDateTime)
        required: false
        deprecated: true
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01'
      - name: endDate
        in: query
        description: Booking end date in format YYYY-MM-DD (deprecated for endDateTime)
        required: false
        deprecated: true
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-02'
      - name: startDateTime[local_before]
        in: query
        description: Filter by Booking start date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_before]
        in: query
        description: Filter by Booking end date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_strictly_before]
        in: query
        description: Filter by Booking end date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_after]
        in: query
        description: Filter by Booking end date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_strictly_after]
        in: query
        description: Filter by Booking end date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[before]
        in: query
        description: Filter by Booking end date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[strictly_before]
        in: query
        description: Filter by Booking end date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[after]
        in: query
        description: Filter by Booking end date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[strictly_after]
        in: query
        description: Filter by Booking end date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[local_strictly_before]
        in: query
        description: Filter by Booking start date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[local_after]
        in: query
        description: Filter by Booking start date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[local_strictly_after]
        in: query
        description: Filter by Booking start date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[before]
        in: query
        description: Filter by Booking start date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[strictly_before]
        in: query
        description: Filter by Booking start date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[after]
        in: query
        description: Filter by Booking start date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[strictly_after]
        in: query
        description: Filter by Booking start date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: type
        in: query
        description: Booking type. If booking type is a room, we are interacting with Google or Microsoft's APIs.
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - desk
          - private_office
          - room
          - onsite
          - locker
          - pod
          - parking
        style: form
        explode: false
        allowReserved: false
        example: desk
      - name: status
        in: query
        description: Booking status.
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - booked
          - checkedIn
          - checkedOut
          - completed
          - cancelled
          - noCheckIn
        style: form
        explode: false
        allowReserved: false
        example: booked
      - name: buildingId
        in: query
        description: Building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 02GTBV1CT3BM8A42SEJ2J5F4EB
      - name: floorId
        in: query
        description: Floor identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01BTBV1CT3BM8A42SEJ2J5F4EB
      - name: neighbourhoodId
        in: query
        description: Neighbourhood identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01BTBV1CT3BM8A42SEJ2J5F4EB
      - name: spaceId
        in: query
        description: Space identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: order[startDate]
        in: query
        description: Order by start date
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - asc
          - desc
        style: form
        explode: false
        allowReserved: false
        example: asc
      - name: order[endDate]
        in: query
        description: Order by end date
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - asc
          - desc
        style: form
        explode: false
        allowReserved: false
        example: asc
      - name: page
        in: query
        description: The collection page number
        required: false
        deprecated: false
        allowEmptyValue: true
        schema:
          type: integer
          default: 1
        style: form
        explode: false
        allowReserved: false
      - name: itemsPerPage
        in: query
        description: The number of items per page
        required: false
        deprecated: false
        allowEmptyValue: true
        schema:
          type: integer
          default: 50
          minimum: 0
          maximum: 500
        style: form
        explode: false
        allowReserved: false
      deprecated: false
    post:
      operationId: api_v1publicbookings_post
      tags:
      - Booking
      responses:
        '201':
          description: Booking resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Booking.jsonld-public_booking'
            text/csv:
              schema:
                $ref: '#/components/schemas/Booking-public_booking'
          links: null
        '400':
          description: Invalid input
        '422':
          description: Unprocessable entity
      summary: Create a booking
      description: Create a desk or onsite booking
      parameters: []
      requestBody:
        description: The new Booking resource
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: The user identifier of the user the booking is for
                  example: 01H59ZGH7HDQ4KAAN6RR1X8V7V
                startDateTime:
                  type: string
                  description: UTC Booking start date time in format YYYY-MM-DDThh:mm:ss
                  example: '2023-07-03T09:00:00'
                endDateTime:
                  type: string
                  description: UTC Booking end date time in format YYYY-MM-DDThh:mm:ss
                  example: '2023-07-03T17:00:00'
                buildingId:
                  type: string
                  description: Required for onsite bookings only - the id of the Building the booking is for.
                  example: 01H59ZGH7HDQ4KAAN6RR1X8V7V
                spaceId:
                  type: string
                  description: Required for desk bookings only - the id of the Space the booking is for.
                  example: 01H59ZGH7HDQ4KAAN6RR1X8V7V
                title:
                  type: string
                  description: Used only for room bookings. Required for room bookings. The title.
                  example: Room booking for Room 001
                  maxLength: 255
                description:
                  type: string
                  description: Used only for room bookings. A detailed description of the booking.
                  example: ''
                  maxLength: 4000
                onlineMeeting:
                  type: boolean
                  description: Used only for room bookings. Indicates if the booking includes an online meeting link.
                  example: true
                attendees:
                  type: array
                  description: Used only for room bookings. List of attendees for the booking, including their details.
                  items:
                    oneOf:
                    - type: object
                      description: Internal user
                      required:
                      - userId
                      example:
                        userId: 01GTBV1CT3BM8A42SEJ2J5FJ2J
                      properties:
                        userId:
                          type: string
                          description: Attendee ID
                    - type: object
                      description: External user (guest)
                      required:
                      - emailAddress
                      example:
                        emailAddress: internal@example.com
                        displayName: John Doe
                      properties:
                        emailAddress:
                          type: string
                          description: Attendee email
                          example: example@example.com
                        displayName:
                          type: string
                          description: Attendee name
                          example: John Doe
              required:
              - userId
              - startDateTime
              - endDateTime
        required: false
      deprecated: false
  /v1/public/bookings/{id}:
    get:
      operationId: api_v1publicbookings_id_get
      tags:
      - Booking
      responses:
        '200':
          description: Booking resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Booking.jsonld-public_booking'
            text/csv:
              schema:
                $ref: '#/components/schemas/Booking-public_booking'
        '404':
          description: Resource not found
      summary: Get a single booking by identifier
      description: Get a single booking if you know it's identifier.
      parameters:
      - name: id
        in: path
        description: Booking identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/bookings/{id}/cancel:
    post:
      operationId: api_v1publicbookings_idcancel_post
      tags:
      - Booking
      responses:
        '201':
          description: Booking resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Booking.jsonld-public_booking'
            text/csv:
              schema:
                $ref: '#/components/schemas/Booking-public_booking'
          links: null
        '400':
          description: Invalid input
        '422':
          description: Unprocessable entity
      summary: Cancel a booking
      description: |-
        Cancel a booking. Cancellation will not be possible if the booking
                        has already been cancelled or completed. By adding a userId to the body of the request the public api can attempt this operation
                        on behalf of a specific user.
      parameters:
      - name: id
        in: path
        description: Booking identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      requestBody:
        description: The new Booking resource
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: |-
                    The user identifier of the user the request is on behalf of.
                                                            If set the API will check to ensure this user has the permission to cancel this booking.
            example:
              userId: 01GTBV1CT3BM8A42SEJ2J5F4EG
        required: false
      deprecated: false
  /v1/public/bookings/{id}/check-in:
    post:
      operationId: api_v1publicbookings_idcheck-in_post
      tags:
      - Booking
      responses:
        '201':
          description: Booking resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Booking.jsonld-public_booking'
            text/csv:
              schema:
                $ref: '#/components/schemas/Booking-public_booking.check_in'
        '400':
          description: Invalid input
        '422':
          description: Unprocessable entity
      summary: Check in to a booking
      description: Check in to a booking on behalf of a user using a specified method. Check in will not be possible if self-certification is required by the building and the user's whose booking it is has not self-certified for the day of the booking.
      parameters:
      - name: id
        in: path
        description: Booking identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      requestBody:
        description: The new Booking resource
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: The user identifier to check in on behalf of. This would be the user performing an action like the user using the door access system.
                method:
                  type: string
                  nullable: true
                  enum:
                  - doorAccess
                  - wifi
                  - geofence
                  - sensor
                  description: The method used to check in.
              required:
              - userId
            example:
              userId: 01GTBV1CT3BM8A42SEJ2J5F4EG
              method: doorAccess
        required: false
      deprecated: false
  /v1/public/bookings/{id}/check-out:
    post:
      operationId: api_v1publicbookings_idcheck-out_post
      tags:
      - Booking
      responses:
        '201':
          description: Booking resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Booking.jsonld-public_booking'
            text/csv:
              schema:
                $ref: '#/components/schemas/Booking-public_booking.check_out'
        '400':
          description: Invalid input
        '422':
          description: Unprocessable entity
      summary: Check out of a booking
      description: Check out of a booking on behalf of a user using a specified method. Check out will not be possible if self-certification is required by the building and the user's whose booking it is has not self-certified for the day of the booking.
      parameters:
      - name: id
        in: path
        description: Booking identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      requestBody:
        description: The new Booking resource
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: The user identifier to check out on behalf of. This would be the user performing an action like the user using the door access system.
                method:
                  type: string
                  nullable: true
                  enum:
                  - doorAccess
                  - wifi
                  - geofence
                  - sensor
                  description: The method used to check out.
              required:
              - userId
            example:
              userId: 01GTBV1CT3BM8A42SEJ2J5F4EG
              method: doorAccess
        required: false
      deprecated: false
  /v1/public/users/{id}/bookings:
    get:
      operationId: api_v1publicusers_idbookings_get_collection
      tags:
      - Booking
      responses:
        '200':
          description: Booking collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking.jsonld-public_booking'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking-public_booking'
      summary: Get a user's bookings
      description: Get a list of all the bookings made by a user.
      parameters:
      - name: id
        in: path
        description: User identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: id
        in: path
        description: Building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GADV1CT3BM8A42SEJ2J5F4EG
      - name: type
        in: query
        description: Booking type. If booking type is a room, we are interacting with Google or Microsoft's APIs.
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - desk
          - private_office
          - room
          - onsite
          - locker
          - pod
          - parking
        style: form
        explode: false
        allowReserved: false
        example: desk
      - name: status
        in: query
        description: Booking status.
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - booked
          - checkedIn
          - checkedOut
          - completed
          - cancelled
          - noCheckIn
        style: form
        explode: false
        allowReserved: false
        example: booked
      - name: startDateTime[local_before]
        in: query
        description: Filter by booking start date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_before]
        in: query
        description: Filter by booking end date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[local_before]
        in: query
        description: Filter by booking cancelled date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[local_before]
        in: query
        description: Filter by booking checked in date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[local_before]
        in: query
        description: Filter by booking checked out date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[local_before]
        in: query
        description: Filter by booking self-certified date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[local_strictly_before]
        in: query
        description: Filter by booking self-certified date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[local_after]
        in: query
        description: Filter by booking self-certified date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[local_strictly_after]
        in: query
        description: Filter by booking self-certified date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[before]
        in: query
        description: Filter by booking self-certified date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[strictly_before]
        in: query
        description: Filter by booking self-certified date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[after]
        in: query
        description: Filter by booking self-certified date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: selfCertifiedDateTime[strictly_after]
        in: query
        description: Filter by booking self-certified date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[local_strictly_before]
        in: query
        description: Filter by booking checked out date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[local_after]
        in: query
        description: Filter by booking checked out date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[local_strictly_after]
        in: query
        description: Filter by booking checked out date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[before]
        in: query
        description: Filter by booking checked out date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[strictly_before]
        in: query
        description: Filter by booking checked out date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[after]
        in: query
        description: Filter by booking checked out date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedOutDateTime[strictly_after]
        in: query
        description: Filter by booking checked out date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[local_strictly_before]
        in: query
        description: Filter by booking checked in date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[local_after]
        in: query
        description: Filter by booking checked in date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[local_strictly_after]
        in: query
        description: Filter by booking checked in date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[before]
        in: query
        description: Filter by booking checked in date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[strictly_before]
        in: query
        description: Filter by booking checked in date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[after]
        in: query
        description: Filter by booking checked in date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: checkedInDateTime[strictly_after]
        in: query
        description: Filter by booking checked in date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[local_strictly_before]
        in: query
        description: Filter by booking cancelled date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[local_after]
        in: query
        description: Filter by booking cancelled date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[local_strictly_after]
        in: query
        description: Filter by booking cancelled date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[before]
        in: query
        description: Filter by booking cancelled date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[strictly_before]
        in: query
        description: Filter by booking cancelled date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[after]
        in: query
        description: Filter by booking cancelled date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: cancelledDateTime[strictly_after]
        in: query
        description: Filter by booking cancelled date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_strictly_before]
        in: query
        description: Filter by booking end date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_after]
        in: query
        description: Filter by booking end date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[local_strictly_after]
        in: query
        description: Filter by booking end date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[before]
        in: query
        description: Filter by booking end date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[strictly_before]
        in: query
        description: Filter by booking end date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[after]
        in: query
        description: Filter by booking end date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: endDateTime[strictly_after]
        in: query
        description: Filter by booking end date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[local_strictly_before]
        in: query
        description: Filter by booking start date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[local_after]
        in: query
        description: Filter by booking start date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[local_strictly_after]
        in: query
        description: Filter by booking start date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[before]
        in: query
        description: Filter by booking start date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[strictly_before]
        in: query
        description: Filter by booking start date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[after]
        in: query
        description: Filter by booking start date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDateTime[strictly_after]
        in: query
        description: Filter by booking start date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-01T14:00:00'
      - name: startDate
        in: query
        description: Booking start date in format YYYY-MM-DD (deprecated for startDateTime)
        required: false
        deprecated: true
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-02'
      - name: endDate
        in: query
        description: Booking end date in format YYYY-MM-DD (deprecated for endDateTime)
        required: false
        deprecated: true
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2023-01-02'
      - name: page
        in: query
        description: The page of bookings to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of bookings to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: 30
      - name: id
        in: query
        description: Booking identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: floor.id
        in: query
        description: Booking Floor identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GABC1CT3BM8A42SEJ2J5F4EG
      - name: neighborhood.id
        in: query
        description: Booking Neighborhood identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GADV1CT3BM8A42SEJ2J5F4EG
      - name: space.id
        in: query
        description: Booking Space identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GADV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      - name: building.id
        in: query
        description: Filter bookings by building ULID
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GADV1CT3BM8A42SEJ2J5F4EG
      deprecated: false
  /v1/public/buildings:
    get:
      operationId: api_v1publicbuildings_get_collection
      tags:
      - Building
      responses:
        '200':
          description: Building collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Building.jsonld-public_building'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Building-public_building'
      summary: Get buildings
      description: Get a list of all the buildings within your company.
      parameters:
      - name: countryCode
        in: query
        description: Filter buildings by the ISO 3166-1 alpha-2 code of the country where the building is located
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: GB
      - name: city
        in: query
        description: Filter buildings by the city where the building is located
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: London
      - name: name
        in: query
        description: Filter buildings by name
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: Bell Yard
      - name: page
        in: query
        description: The page of buildings to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of buildings to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      - name: id
        in: query
        description: Building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/buildings/{id}:
    get:
      operationId: api_v1publicbuildings_id_get
      tags:
      - Building
      responses:
        '200':
          description: Building resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Building.jsonld-public_building'
            text/csv:
              schema:
                $ref: '#/components/schemas/Building-public_building'
        '404':
          description: Resource not found
      summary: Get a single building by identifier
      description: Get a single building if you know it's identifier.
      parameters:
      - name: id
        in: path
        description: Building identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/floors:
    get:
      operationId: api_v1publicfloors_get_collection
      tags:
      - Floor
      responses:
        '200':
          description: Floor collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Floor.jsonld-public_floor'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Floor-public_floor'
      summary: Get a collection of floors
      description: Get a list of all the floors within your company from all the buildings.
      parameters:
      - name: buildingId
        in: query
        description: Filter by building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: page
        in: query
        description: The page of floors to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of floors to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/floors/{id}:
    get:
      operationId: api_v1publicfloors_id_get
      tags:
      - Floor
      responses:
        '200':
          description: Floor resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Floor.jsonld-public_floor'
            text/csv:
              schema:
                $ref: '#/components/schemas/Floor-public_floor'
        '404':
          description: Resource not found
      summary: Get a single floor by identifier
      description: Get a floor if you know it's identifier.
      parameters:
      - name: id
        in: path
        description: Floor identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/neighborhoods:
    get:
      operationId: api_v1publicneighborhoods_get_collection
      tags:
      - Neighborhood
      responses:
        '200':
          description: Neighborhood collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Neighborhood.jsonld-public_neighborhoods'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Neighborhood-public_neighborhoods'
      summary: Get neighborhoods
      description: Get a list of all the neighborhoods within your company from all the floors.
      parameters:
      - name: buildingId
        in: query
        description: Filter by building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: floorId
        in: query
        description: Filter by floor identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01H57KGTPZ50STX5N62Q991JNM
      - name: page
        in: query
        description: The page of neighborhoods to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of neighborhoods to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/neighborhoods/{id}:
    get:
      operationId: api_v1publicneighborhoods_id_get
      tags:
      - Neighborhood
      responses:
        '200':
          description: Neighborhood resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Neighborhood.jsonld-public_neighborhoods'
            text/csv:
              schema:
                $ref: '#/components/schemas/Neighborhood-public_neighborhoods'
        '404':
          description: Resource not found
      summary: Get a single neighborhood by identifier
      description: Get a neighborhood if you know it's identifier.
      parameters:
      - name: id
        in: path
        description: Neighborhood identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/spaces:
    get:
      operationId: api_v1publicspaces_get_collection
      tags:
      - Space
      responses:
        '200':
          description: Space collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Space.jsonld-public_space'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Space-public_space'
      summary: Get spaces
      description: Get a list of all the spaces within your company from all the floors.
      parameters:
      - name: page
        in: query
        description: The page of spaces to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of spaces to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      - name: neighborhoodId
        in: query
        description: Filter by neighborhood identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01AZMC4F598J6RRG449TRTRK20
      - name: floorId
        in: query
        description: Filter by floor identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01CBCV1CT3BM8A52SEJ2J5F4EB
      - name: buildingId
        in: query
        description: Filter by building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01H4E18A4C7K1GD4BEM9NCNJAW
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/spaces/{id}:
    get:
      operationId: api_v1publicspaces_id_get
      tags:
      - Space
      responses:
        '200':
          description: Space resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Space.jsonld-public_space'
            text/csv:
              schema:
                $ref: '#/components/schemas/Space-public_space'
        '404':
          description: Resource not found
      summary: Get a single space by identifier
      description: Get a space if you know it's identifier.
      parameters:
      - name: id
        in: path
        description: Space identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/users:
    get:
      operationId: api_v1publicusers_get_collection
      tags:
      - User
      responses:
        '200':
          description: User collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/User.jsonld-public_user'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User-public_user'
      summary: Get users
      description: Get a list of all the users within your company.
      parameters:
      - name: email
        in: query
        description: Partial match of users by email address
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: john.smith@example.com
      - name: emailExact
        in: query
        description: Exact match of users by email address
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: john.smith@example.com
      - name: firstName
        in: query
        description: Filter users by first name
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: John
      - name: lastName
        in: query
        description: Filter users by last name
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: Smith
      - name: page
        in: query
        description: The page of users to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of users to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      - name: id
        in: query
        description: User identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      deprecated: false
  /v1/public/users/{id}:
    get:
      operationId: api_v1publicusers_id_get
      tags:
      - User
      responses:
        '200':
          description: User resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/User.jsonld-public_user'
            text/csv:
              schema:
                $ref: '#/components/schemas/User-public_user'
        '404':
          description: Resource not found
      summary: Get a single user by identifier
      description: Get a single user if you know their identifier.
      parameters:
      - name: id
        in: path
        description: User identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
    patch:
      operationId: api_v1publicusers_id_patch
      tags:
      - User
      responses:
        '200':
          description: User resource updated
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/User.jsonld-public_user'
            text/csv:
              schema:
                $ref: '#/components/schemas/User-public_user'
          links: null
        '400':
          description: Invalid input
        '404':
          description: Resource not found
        '422':
          description: Unprocessable entity
      summary: Update a user
      description: Update user information.
      parameters:
      - name: id
        in: path
        description: User identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      - name: Content-Type
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/merge-patch+json
      requestBody:
        description: User fields to update
        content:
          application/merge-patch+json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                jobTitle:
                  type: string
                  nullable: true
                biography:
                  type: string
                  nullable: true
                locationTimezone:
                  type: string
                  nullable: true
                locationCountryCode:
                  type: string
                  nullable: true
                locationCityName:
                  type: string
                  nullable: true
                locationLatitude:
                  type: float
                  nullable: true
                locationLongitude:
                  type: float
                  nullable: true
        required: false
      deprecated: false
  /v1/public/users/{id}/photo:
    post:
      operationId: api_v1publicusers_idphoto_post
      tags:
      - User
      responses:
        '201':
          description: User resource created
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/User.jsonld-public_user'
            text/csv:
              schema:
                $ref: '#/components/schemas/User-public_user'
          links: null
        '400':
          description: Invalid input
        '422':
          description: Unprocessable entity
      summary: Update a user profile picture
      description: Update user profile picture.
      parameters:
      - name: id
        in: path
        description: User identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      - name: Content-Type
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: multipart/form-data
      requestBody:
        description: The new User resource
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      deprecated: false
  /v1/public/visits:
    get:
      operationId: api_v1publicvisits_get_collection
      tags:
      - Visit
      responses:
        '200':
          description: Visit collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Visit.jsonld-public_visit'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visit-public_visit'
      summary: Get visits
      description: Get a collection of visits (guest bookings) for your company.
      parameters:
      - name: buildingId
        in: query
        description: Filter visits by building identifier
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: status
        in: query
        description: Filter visits by booking status
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - booked
          - checkedIn
          - checkedOut
          - completed
          - cancelled
          - noCheckIn
        style: form
        explode: false
        allowReserved: false
        example: booked
      - name: startDateTime[local_before]
        in: query
        description: Filter by Visit start date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: endDateTime[local_before]
        in: query
        description: Filter by Visit end date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[local_strictly_before]
        in: query
        description: Filter by Visit end date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[local_after]
        in: query
        description: Filter by Visit end date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[local_strictly_after]
        in: query
        description: Filter by Visit end date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[before]
        in: query
        description: Filter by Visit end date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[strictly_before]
        in: query
        description: Filter by Visit end date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[after]
        in: query
        description: Filter by Visit end date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[strictly_after]
        in: query
        description: Filter by Visit end date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: startDateTime[local_strictly_before]
        in: query
        description: Filter by Visit start date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: startDateTime[local_after]
        in: query
        description: Filter by Visit start date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: startDateTime[local_strictly_after]
        in: query
        description: Filter by Visit start date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: startDateTime[before]
        in: query
        description: Filter by Visit start date-time on or before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: startDateTime[strictly_before]
        in: query
        description: Filter by Visit start date-time before this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: startDateTime[after]
        in: query
        description: Filter by Visit start date-time on or after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: startDateTime[strictly_after]
        in: query
        description: Filter by Visit start date-time after this date-time
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: page
        in: query
        description: The page of visits to get
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
        style: form
        explode: false
        allowReserved: false
        example: '1'
      - name: itemsPerPage
        in: query
        description: Number of visits to get per page
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        style: form
        explode: false
        allowReserved: false
        example: '30'
      deprecated: false
  /v1/public/visits/{id}:
    get:
      operationId: api_v1publicvisits_id_get
      tags:
      - Visit
      responses:
        '200':
          description: Visit resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Visit.jsonld-public_visit'
            text/csv:
              schema:
                $ref: '#/components/schemas/Visit-public_visit'
        '404':
          description: Resource not found
      summary: Get a single visit by identifier
      description: Get a single visit (guest booking) if you know its identifier.
      parameters:
      - name: id
        in: path
        description: Visit identifier
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: Accept
        in: header
        description: ''
        required: true
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: simple
        explode: false
        allowReserved: false
        example: application/ld+json
      deprecated: false
  /v1/public/visitors:
    get:
      operationId: api_v1publicvisitors_get_collection
      tags:
      - Visitor
      responses:
        '200':
          description: Visitor collection
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  hydra:member:
                    type: array
                    items:
                      $ref: '#/components/schemas/Visitor.jsonld-public_visitor'
                  hydra:totalItems:
                    type: integer
                    minimum: 0
                required:
                - hydra:member
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Visitor-public_visitor'
      summary: Get visitors
      description: Get a deduplicated directory of everyone who has visited your company as a guest.
      parameters:
      - name: email
        in: query
        description: Partial match of visitors by email address
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: john.smith@example.com
      - name: emailExact
        in: query
        description: Exact match of visitors by email address
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: john.smith@example.com
      - name: firstName
        in: query
        description: Filter visitors by first name. Matches the visitor's display name (the serialized firstName may differ, as it prefers a linked User's name for internal users).
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: John
      - name: lastName
        in: query
        description: Filter visitors by last name. Matches the visitor's display name (the serialized lastName may differ, as it prefers a linked User's name for internal users).
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: Smith
      - name: buildingId
        in: query
        description: Filter visitors by the building of any of their visits
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: 01GTBV1CT3BM8A42SEJ2J5F4EG
      - name: status
        in: query
        description: 'Filter by the visitor''s RSVP/attendance status (accepted, declined, tentatively_accepted, not_responded, organizer, none) on any of their visits. This is the attendee response status, distinct from the visit''s booking lifecycle status. To filter by the visit''s booking status instead, use visitStatus. (Note: unlike /visits, where status IS the booking status, on /visitors status is the RSVP status.)'
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - none
          - accepted
          - declined
          - tentatively_accepted
          - not_responded
          - organizer
        style: form
        explode: false
        allowReserved: false
        example: accepted
      - name: visitStatus
        in: query
        description: Filter by the visit's booking status (booked, checkedIn, checkedOut, completed, cancelled, noCheckIn) on any of their visits. This is the booking lifecycle status, distinct from the visitor's RSVP status filter (status). This is the equivalent of the status filter on /visits.
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - booked
          - checkedIn
          - checkedOut
          - completed
          - cancelled
          - noCheckIn
        style: form
        explode: false
        allowReserved: false
        example: checkedIn
      - name: startDateTime[local_before]
        in: query
        description: Filter by Visitor visit start date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T09:00:00'
      - name: endDateTime[local_before]
        in: query
        description: Filter by Visitor visit end date-time on or before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[local_strictly_before]
        in: query
        description: Filter by Visitor visit end date-time before this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[local_after]
        in: query
        description: Filter by Visitor visit end date-time on or after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
        allowEmptyValue: false
        schema:
          type: string
        style: form
        explode: false
        allowReserved: false
        example: '2024-01-01T17:00:00'
      - name: endDateTime[local_strictly_after]
        in: query
        description: Filter by Visitor visit end date-time after this date-time (adjusted to building timezone)
        required: false
        deprecated: false
[...]
